body {
  background-color: #F5F5F5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color:#e0115f  ;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #004225;
  margin: 0;
}

.form-wrapper {
  margin-bottom: 30px;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
}





header {
  margin-bottom: 30px;
}

.form {
  display: flex;
  align-items: center;
 
}

.input-container {
  flex: 1;
  margin-right: 10px;
}

.instructions {
  width: 100%;
  padding: 16px;
  border: 1.5px solid #ff007f;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #004225;
  box-sizing: border-box;
}

.submit-button {
  background-color:#e0115f ;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  font-weight: 400;
  border-left: 3px solid #e0115f ;
  border-radius: 10px;
  margin-bottom: 20px;

}

.hidden {
 display: none;

}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;

}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}